body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7ded0;
}

 .imt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 1px solid white;
    padding: 10px;
    color: rgb(3, 0, 180);
 }